<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <title>购买</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/home.css" th:href="@{/css/home.css}"
    />
</head>

<body>
    <form method="post">
        <input shiro:lacksRole="vip" type="submit" />
        <p shiro:hasRole="vip">you are vip!</p>
    </form>
</body>

</html>
