<!DOCTYPE HTML>
<html>
	<head>
		<title>Purify</title>
		<link href="../../css/main.css" type="text/css" rel="stylesheet" media="screen" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src = "../js/main.js"></script>
	</head>

	<body>
		<div id="Head">
			<img id="logo" src="../../pic/logo.jpg">
			<div id="buttons" style="float: right;">
				<button id="Login">登陆</button>
				<button id="Register">注册</button>
			</div>
		</div>
		<div id="Movie">
			<table>
				<tr>
					<td>1</td>
					<td>2</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
			</table>
		</div>

	</body>
</html>