<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <title>菜单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/home.css" th:href="@{/css/home.css}"
    />
</head>

<body>
    <h1>Menu</h1>
    <div>
        <a shiro:user="" th:href="@{/logout}">登出</a>
        <form action="order" method="post">
            <table>
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>PRICE</th>
                        <th>IN STOCK</th>
                        <th>ORDER NUMBER</th>
                    </tr>
                </thead>
                <tbody th:remove="all-but-first">
                    <tr th:each="prod : ${prods}" th:class="${prodStat.odd}? 'odd'">
                        <td>
                            <a href="" th:text="${prod.name}" th:href="@{'/cuisine_detail/'+${prod.name}}">meat</a>
                        </td>
                        <td th:text="${prod.price}">2.41</td>
                        <td th:text="${prod.inStock}? #{true} : #{false} ">yes</td>
                        <td>
                            <input type="text" value="0" name="OrderNumber" th:attrappend="name=${prod.id}" />
                        </td>
                    </tr>
                    <tr class="odd">
                        <td>Blue Lettuce</td>
                        <td>9.55</td>
                        <td>no</td>
                    </tr>
                    <tr>
                        <td>Mild Cinnamon</td>
                        <td>1.99</td>
                        <td>yes</td>
                    </tr>
                </tbody>
            </table>
    		<a shiro:guest="" th:href="@{/login}">please login first</a>
            <input shiro:user="" type="submit" value="submit" />
        </form>
        <a shiro:user="" shiro:lacksRole="vip" th:href="@{/buy}">如何成为VIP？</a>
    </div>
</body>

</html>
