<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.min.css">
    	<script src="../../bootstrap-3.3.7-dist/js/jquery-3.2.1.min.js"></script>
    	<script src="../../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    	<link href="../../css/Purchase.css" type="text/css" rel="stylesheet" media="screen" />
    	<link href="../../css/navbar-fixed-top.css" rel="stylesheet">
    	<link href="../../css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    	<script src="../../js/ie-emulation-modes-warning.js"></script>
    	<title>购票</title>
	</head>
	
	<body>
	    <div th:insert="navbar :: navbar"></div>
	    <!--/*-->
		<!-- Fixed navbar -->
	    <nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <img id="logo" class="navbar-brand" href="#" src="../../pic/logo.jpg" height="80px">
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="#">主页</a></li>
	            <li class="active"><a href="#about">选电影</a></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">日期<span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a href="#">Action</a></li>
	                <li><a href="#">Another action</a></li>
	                <li><a href="#">Something else here</a></li>
	                <li role="separator" class="divider"></li>
	                <li class="dropdown-header">Nav header</li>
	                <li><a href="#">Separated link</a></li>
	                <li><a href="#">One more separated link</a></li>
	              </ul>
	            </li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">影院<span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a href="#">Action</a></li>
	                <li><a href="#">Another action</a></li>
	                <li><a href="#">Something else here</a></li>
	                <li role="separator" class="divider"></li>
	                <li class="dropdown-header">Nav header</li>
	                <li><a href="#">Separated link</a></li>
	                <li><a href="#">One more separated link</a></li>
	              </ul>
	            </li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="../navbar/">登陆</a></li>
	            <li><a href="../navbar-static-top/">注册</a></li>
	            <li class="active"><a href="./">退出<span class="sr-only">(current)</span></a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>
	    <!--*/-->

	    <div id="MovieContainer">
	    	<div id="LeftPart">
	    		<img class="Poster" src="../../pic/wonderwoman.jpg" th:src="@{/images/__${movie.picName}__}">
	    		<div id="MovieText">
	    			<div id="MovieChineseName">片名：[[${movie.getName()}]]</div>
	    			<div id="MovieEnglishName">英文名：[[${movie.getName()}]]</div>
	    			<div id="MovieType">类型: [[${movie.getGenre()}]]</div>
	    			<div id="MovieMainActor">主演: 盖尔·加朵 / 克里斯·派恩</div>
	    			<div id="MovieLanguage">语言: [[${movie.getLanguage()}]]</div>
	    			<div id="MovieDescription">简介：[[${movie.brief}]]</div>
	    			<div id="MovieScreening">
	    				Screening: [[${movie.getScreenings()}]]
	    			</div>
	    		</div>
	    		<div id="Schedule">
	    			<div id="ScheduleRow1">
	    				<button class="btn btn-primary" type="button" th:text="${movie}">11:45</button>
    					<!--/*-->
	    				<button class="btn btn-primary" type="button">12:30</button>
	    				<button class="btn btn-primary" type="button">17:15</button>
	    				<button class="btn btn-primary" type="button">19:20</button>
	    				<button class="btn btn-primary" type="button">20:40</button>
    					<!--*/-->
	    			</div>
    				<!--/*-->
	    			<div id="ScheduleRow2">
	    				<button class="btn btn-primary" type="button">11:45</button>
	    				<button class="btn btn-primary" type="button">12:30</button>
	    				<button class="btn btn-primary" type="button">17:15</button>
	    				<button class="btn btn-primary" type="button">19:20</button>
	    				<button class="btn btn-primary" type="button">20:40</button>
	    			</div>
    				<!--*/-->
	    		</div>
	    	</div>

		    <div id="SeatLayout">
		    	
		    	<div id="Screen">银幕</div>
		    	<div id="Seats">
		    		<div class="SeatRow" id="Row1">
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位预定.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    			<embed src="../../pic/座位.svg" type="image/svg+xml" class="Location" />
		    		</div>
		    		
		    	</div>
		    </div>
	    </div>

	    <div id="BuyTickets">
	    	<div id="MoneyPerTic">单价：</div>
	    	<div id="TotalNum">数目：</div>
	    	<div id="TotalMoney">总计：</div>
	    	<button type="button" class="btn btn-primary" style="float: right;" id="MakeSureAndPay">确认并付款</button>
	    </div>
	</body>
</html>
