body {
	background-color: black;
	color: white;
}

#logo {
	padding: 0 0 0 0;
}

#MovieContainer {
	margin-left: auto;
	margin-right: auto;
}

#LeftPart {
	width: 400px;
	float: left;
	margin-left: 50px;
}

#SeatLayout {
	border: 4px solid white;
	border-radius: 5px;
	margin-left: 500px;
	padding-top: 10px;
	width: 800px;
	height: 400px;
}

#Screen {
	border: 2px solid white;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 50px;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
}

#Seats {
	background-color: yellow;
	margin-top: 50px;
}

.SeatRow {
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	width: 720px;
}


.Location {
	height: 30px;
	width: 30px;
}

#BuyTickets {
	width: 800px;
	height: 50px;
	margin-left: 500px;
	margin-top: 60px;
}

#MoneyPerTic {
	float: left;
	font-size: 20px;
}

#TotalNum {
	float: left;
	font-size: 20px;
	margin-left: 100px;
}

#TotalMoney {
	float: left;
	font-size: 20px;
	margin-left: 100px;
}

#MakeSureAndPay, #MoneyPerTic, #TotalMoney, #TotalNum {
	margin-top: 10px;
}

.Poster {
	width: 50%;
	height: 50%;
	float: left;
}

#MovieText {
	float: left;
	width: 145px;
	font-size: 10px;
	margin-left: 5px;
}

.btn {
	margin-right: 5px;
	margin-top: 20px;
}
